.oe_products_item {
    display: inline-block;
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.oe_petstore_top {
    padding: 30px;
    border: 1px solid #c8c8d3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    font-size: 22px;
    margin: 50px;
}

.tables {
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
}

.tables thead tr th {
    background-color: #5B899E;
}

.tables tbody tr td:nth-child(1) {
    width: 30px;
}

.oe_petstore_homepage .te .fa {
    display: table-cell !important;
}

.o_web_client {
    /*overflow: scroll!important;*/
    /*width:100%!important;*/
    /*min-width: 1400px;!important;*/
}

#accordion {
    margin-top: 30px;
    /*width: 100%;*/
    /*min-width: 1200px;*/
}

#accordion h4, #accordion a, #accordion span {
    font-size: 13px !important;
    font-weight: 500 !important;
}

#accordion .panel {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#accordion .panel-body {
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 25px;
}

#accordion > .panel > .panel-collapse > .panel-body {
    padding-bottom: 50px;
}

#accordion .panel-success {
    margin-left: 15px !important;
}

#accordion .btn {
    padding: 6px 8px;
    font-size: 12px;
    line-height: 0.9;
}

#accordion .open-sign {
    font-size: 20px !important;
    margin-left: -10px;
}

.o_content header {
    position: fixed;
    z-index: 100;
    width: calc(100% - 236px);
}

.o_content .o_form_sheet {
    margin: 100px auto !important;
}

.chk_all_mo, .po_details {
    margin-right: 15px !important;
}

.o_list_editable .o_form_view.o_list_editable_form .o_form_textarea {
    border: none;
}

.fix_table {
    /*position: relative;*/
}

.fix_table_thead {
    position: fixed;
    /*width: calc(100% - 237px);*/
}

.table-responsive .not_full_thead {
    position: fixed;
    /*width: calc(100% - 220px)!important;*/
}

.fix_table_thead_tr {
    width: 100%;
    display: block;
}

.fix_table_thead_tr_th {
    padding-right: 0;
}

.m2mcheckbox {
    margin-right: 5px !important;
}

.o_list_editable .o_form_view.o_list_editable_form .o_form_textarea {
    border: none;
}

.xs {
    color: #999999 !important;
}

.o_list_view.table .o_list_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
}

.o_form_view .o_list_view.table td {
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
}

.show_bom_line_one .part_refresh {
    cursor: pointer;
}

.panel-title .trace_back {
    cursor: pointer;
    text-decoration: underline;
}

.panel-title .mat {
    margin-left: 15px;
}

.panel-title .mat, .panel-title .pre {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.panel-title .rem {
    width: 49%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.o_content .panel-body {
    padding: 0;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
    min-width: 1050px;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1200px;
    }
}


#account_dashboard .assets_indext1{
    padding-left: 27px;
}
#account_dashboard .assets_indext2{
    padding-left: 54px;
}