.arrange_production_container{
    overflow: hidden;
    padding-top: 50px;
    min-width: 1200px;
}
#a_p_left{
    width: 50%;
    height: 900px;
    float: left;
    padding: 10px 0;
    border-top:1px solid #797979;
    border-right:1px solid #797979;
    border-bottom:1px solid #797979;
    overflow-y: scroll;
}
#a_p_right{
    width: 50%;
    height: 900px;
    overflow-y: scroll;
    float: left;
    padding: 10px;
    border-top:1px solid #797979;
}
.production_lists_wrap{
    width: 100%;
    padding: 25px 0;
    margin: -10px auto;
    display: none;
}
.ap_item_wrap{
    width:95%;
    background: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    color: #797979;
    margin: 10px auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
    overflow: hidden;
}
.production_line{
    width: 100%;
    height: 32px;
    line-height: 26px;
    background: #2c5660;
    padding: 3px;
    font-size:12px;
    margin: 8px auto;
    color: white;
}
#a_p_all{
    min-width: 1200px;
    overflow: scroll;
}
.a_p_move_point{
    display: inline-block;
    width: 30px;
    height:30px;
    background: #8B5A00;
    border-radius: 50%;
    position: absolute;
    cursor: move;
}
.production_line>span,.production_line>div>div{
    display: inline-block;
}
.p_line_equipment,.p_line_employes{
    padding: 2px;
    background: #556c73;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
}
.p_line_right{
    float: right;
    margin-right: 5px;
}
.production_line .a_p_showorhide{
    margin-top: 6px;
    cursor: pointer;
    margin-left: 5px;
}
.a_p_mo_name{
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    color: black;
    margin-left: 40px;
    margin-top: 5px;
    cursor: pointer;
}

.a_p_product_name{
    margin: 3px;
}
.a_p_process_res,.a_p_latest_time,.a_p_arrange_qty,.a_p_spend_time,.a_p_planned_start,.a_p_planned_end{
    display: block;
    margin-bottom: 8px;
}
.ap_item_main_left{
    float: left;
}
.ap_item_main_center{
    float: left;
    margin-left: 10px;
}
.a_p_time_start{
    display: inline-block;
}
.a_p_time_end{
    display: inline-block;
}
#a_p_left #a_p_date{
    left: 60px!important;
}
.production_lists_no_item{
    padding: 100px 0;
    border: 1px solid #c7c7c7;
    text-align: center;
    font-size: 30px;
}
.production_lists_no_item::after{
    content: "添加内容";
}

.a_p_item_top{
    position: relative;
    border-bottom: 1px solid #797979;
    margin-left: -10px;
    overflow: hidden;
}
.a_p_item_top>div{
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 8px;
}
.a_p_item_top>div>span{
    cursor: pointer;
    color: #7C7BAD;
    margin-left: 20px;
    font-weight: bolder;
}
.a_p_mo_state{
    float: right;
    margin-right: 5px;
    margin-top: -22px;
    text-align: center;
}
.a_p_alia_name{
    margin-left: 15px;
}
.a_p_order_type{
    background-color: darkgrey;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
}
.a_p_create_alia{
    display: inline-block;
    cursor: pointer;
}
.create_alia_wrap{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    margin: 0 auto;
    width: 280px;
    z-index: 1040;
    background: white;
    padding: 30px;
}
.create_alia_wrap .modal{
    display: block;
}
.create_alia_wrap .a_p_alia_confirm{
    width: 50px;
    margin-left: 580px;
}
.create_alia_container .alia_confirm .alia_cancel{
    margin-top:20px;
}
.create_alia_container{
    display: none;
}