/*.o_web_client > .o_main .o_main_content {*/
    /*overflow: scroll;*/
/*}*/

/*.department > div {*/
    /*padding: 5px 45px;*/
/*}*/


.delete i{
    cursor: pointer;
}
.add_tr{
    cursor: pointer;
    width: fit-content;
}
.top_calc_rule span{
    font-weight: bold;
    margin-right: 20px;
}
.top_calc_rule label{
    font-weight: 100;
    margin-right: 10px;
}
.select_container>div{
    display: inline-block;
}
.cost_matching_container{
    padding: 20px;
}
.cost_matching_container .table_wrap{
    background-color: white;
    padding: 12px;
}
.table_wrap tr td:nth-child(5){
    border-right: 1px solid #ddd;
}

.cost_matching_container .btn_wrap{
    width: 300px;
    margin: 0 auto;
}
.cost_matching_container .btn_wrap .save{
    background-color: #409eff;
    color: white;
}
.cost_matching_container .diff_color{
    color: red;
}